---
import '@/style/tooltip.css';
---
<!-- <!doctype html>
<html>
  <head>
    <title>Floating UI Tutorial</title>
  </head>
  <body>

    <span class="toolTipTool" aria-describedby="toolTip">
      My button 1
    	<span class="toolTipTip" role="toolTipTip">My toolTipTip 1 äuä<span class="toolTipArrow"></span></span>
	</span>

	<span class="toolTipTool" aria-describedby="toolTip">
		My button 2
		  <span class="toolTipTip" role="toolTipTip">My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 My toolTipTip 2 <span class="toolTipArrow"></span></span>
	</span>

	<span class="toolTipTool" aria-describedby="toolTip">
		My button 3
		  <span class="toolTipTip" role="toolTipTip">My toolTipTip 3<span class="toolTipArrow"></span></span>
	</span>

	<span class="toolTipTool" aria-describedby="toolTip">
		My button 4
		  <span class="toolTipTip" role="toolTipTip">My toolTipTip 4<span class="toolTipArrow"></span></span>
	</span>


    <script type="module">
      // Your code will go here.
    </script>
  </body>
</html>-->

<script>
	import  '@/scripts/tooltip.js';	
</script>