---
import building from "@/assets/for_content/svgElements/buildings/freeStandingMediumDensity_AAA.svg?raw"
import gradient from "@/assets/for_content/svgElements/graphics/gradientPathAAA.svg?raw"
---
<div class="full-w full-h">
	<div>
		<svg viewBox="360 30 50 700 " width="100" height="100">
			<Fragment set:html={building} />
			<Fragment set:html={gradient} />
		</svg>
	</div>
</div>