---
import { getCollection, getEntry, render } from 'astro:content';
import SectionTitle from "@components/snippets/SectionTitle.astro";
import { getLangFromUrl } from '@/i18n/langFunctions';

const lang = getLangFromUrl(Astro.url);
////////console.log.log("lang");
////////console.log.log(lang);

//WEGWEGWEG
const sourcesColl = await getCollection('sources');

const alf = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

const lB = await getCollection('lilBits');
const tRem = lB.filter(entry => {
	//////////////////console.log.log("entry");
	//////////////////console.log.log(entry.id);
	return entry.id == "remarks";
})[0].data;
////////console.log.log("tRem");
////////console.log.log(tRem);
//////////////////////////console.log.log("sourcesColl");
//////////////////////////console.log.log(sourcesColl);

//aos
import { aosDuration, aosDelay } from '@/snippets/aosValues';
---

<div class="remarksContainer mt-infoContainer hidden">
	<div class="pb-4">
		<SectionTitle title={tRem.title[lang]} />
	</div>
	<div class="text-left" data-aos="fade-up" data-aos-duration={aosDuration(3)} data-aos-delay={aosDelay(1)}>
		<ul class="remarksList list-none pl-0">
		</ul>
	</div>
</div>
<div class="hidden flex-row w-full  min-w-6 mb-2"></div>
<div class="hidden break-normal"></div>


<script define:vars={{ sourcesColl, lang, alf, tRem }} is:inline>
	////////console.log.log("script started");

	//////////////////////////console.log.log(sourcesColl);
	const remarks = document.querySelectorAll(".remark");
	const container = document.querySelector(".remarksContainer");
	const list = document.querySelector(".remarksList");
	////////console.log.log("remarks");
	////////console.log.log(remarks);

	if(remarks.length > 0){
		container.classList.remove("hidden")
	}else{
		////////console.log.log("no remarks");
	}

	var allRemarks = [];

	for(let i = 0; i < remarks.length; i++){
		////////console.log.log("remarks[i]");
		////////console.log.log(remarks[i]);
		remarks[i].classList.remove("hidden");
		const content = remarks[i].innerHTML;
		allRemarks.push({i, content});
		var floaty = "";
		floaty += "<span class='toolTipTool' aria-describedby='toolTip'>";
		
		floaty += "<span class='toolTipTip bg-tooltip-bg text-tooltip-text text-tooltip text-md border-[0.0px] border-tooltip-border'>";
		floaty += tRem.tooltip[lang];
		floaty += ": ";
		floaty += content;
		floaty += "<span class='toolTipArrow bg-tooltip-bg border-b-[0.0px] border-r-[0.0px] border-tooltip-border'></span>";
		floaty += "</span>";
		
		floaty += "<span class='toolTipSymbol align-top text-xs ml-0.5 select-none' style='display: -webkit-inline-box;'>";
		floaty += alf.charAt(i);
		floaty += "</span>";
		floaty += "</span>";
		remarks[i].innerHTML = floaty;
	}
	
	////////console.log.log("allRemarks");
	////////console.log.log(allRemarks);

	var listContent = "";
	for(let i = 0; i < allRemarks.length; i++){
		//////////////////////////console.log.log("allRemarks[i]");
		//////////////////////////console.log.log(allRemarks[i]);
		//////////////////////////console.log.log("thisSourceData");
		//////////////////////////console.log.log(thisSourceData);
		var thisSourceContent = "<li class='break-normal'>";
		thisSourceContent += "<div class='flex flex-row w-full mb-2'>"
		thisSourceContent += "<div class='min-w-6'>"
		thisSourceContent += "<span class='font-bold'>";
		thisSourceContent += alf.charAt(allRemarks[i].i);
		thisSourceContent += ": ";
		thisSourceContent += "</span>";
		thisSourceContent += "</div>";
		thisSourceContent += "<div class='w-full'>";
		thisSourceContent += "<div class=''>";
		thisSourceContent += allRemarks[i].content;
		//source content after start into new var
		//if not like after start, add comma in front of information
		thisSourceContent += "</div>"
		thisSourceContent += "</div>";
		thisSourceContent += "</li>";
		
		
		listContent += thisSourceContent;
	}

	//////////////////////////console.log.log("listContent");
	//////////////////////////console.log.log(listContent);

	list.innerHTML = listContent;

</script>
