---
import banner from "@assets/for_site/banner.svg?raw";

//aos
import { aosDuration, aosDelay } from '@/snippets/aosValues';
---

<div
    class="px-8 2xl:max-w-7xl mx-auto pt-0"
    data-aos="fade-up"
    data-aos-duration={aosDuration(1.4)}>
    <div class="-my-0.5 overflow-hidden">
      <svg viewBox="0 0.2 254 21.2" fill="blue" xmlns="http://www.w3.org/2000/svg" stroke="none">
        <foreignObject class="title" x="0" y="0" width="100%" height="150%">
          <Fragment set:html={banner} />
        </foreignObject>
      </svg>
    </div>
  </div>