---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/landing/Hero.astro";
import Projects from "@components/landing/Projects.astro";
import Testimonials from "@components/landing/Testimonials.astro";
import Articles from "@components/landing/Articles.astro";
import FeaturedWork from "@components/landing/FeaturedWork.astro";
import DesignTop from "@components/general/DesignTop.astro";
import DesignBottom from "@components/general/DesignBottom.astro";
import BarsBottom5 from "@components/general/BarsBottom5.astro";
import FrontSection from "@components/technical/FrontSection.astro";
import ThinLine from "@/components/snippets/ThinLine.astro";
import ThickLine from "@/components/snippets/ThickLine.astro";

import { aosDuration, aosDelay } from '@/snippets/aosValues';

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);

import { getCollection, getEntry, render } from 'astro:content';

export function getStaticPaths () {
 return [
    {params:{lang: 'en'}},
    {params:{lang: 'de'}},
    {params:{lang: 'fr'}},
  ];
}

const entry = lang+'/introtext01';
const introContent = await getEntry('bigBits', entry);
/*const introContentColl = await getCollection('bigBits');

const introContent = introContentColl.filter(item => {
    const returnThis = item.id == entry;
    ////////////console.log.log("entry: '"+entry+"'     item.id: '"+item.id+"'     returnThis: "+returnThis);
    return returnThis;
  }
);*/

/*////////////console.log.log("introContentColl");
////////////console.log.log(introContentColl);*/
////////////console.log.log("introContent");
////////////console.log.log(introContent);

const { Content: Intro } = await render(introContent);

---

<BaseLayout>
  <DesignTop nLines={5} baseRem={0.2} incIncDecimal={0.5} startWith="l" />
  <div class="px-8 mx-auto max-w-singleWidth text-justify break-words break-all hyphens-manual pb-20" lang={lang} 
    data-aos="fade-up"
    data-aos-duration={aosDuration(1)}
    data-aos-delay={aosDelay(1)}>
    <Intro />
  </div>
  <FrontSection collection="news" howMany="8" component="ArticlesImaged" showDate="true" sectionTitle="true" putUrl="false" >
  </FrontSection>
  <DesignBottom nLines={5} baseRem={0.2} incIncDecimal={0.5} startWith="s" />
</BaseLayout>