---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/landing/Hero.astro";
import Intro from "@components/landing/Intro.astro";
import Projects from "@components/landing/Projects.astro";
import Testimonials from "@components/landing/Testimonials.astro";
import Articles from "@components/landing/Articles.astro";
import FeaturedWork from "@components/landing/FeaturedWork.astro";
import BarsTop5 from "@components/general/BarsTop5.astro";
import BarsBottom5 from "@components/general/BarsBottom5.astro";
import FrontSection from "@components/technical/FrontSection.astro";

export function getStaticPaths () {
 return [
    {params:{lang: 'en'}},
    {params:{lang: 'de'}},
    {params:{lang: 'fr'}},
  ];
}

import { getCollection } from 'astro:content';

  const pages = await getCollection('test');

  //////////console.log("pages");
  //////////console.log(pages);

---

<BaseLayout>
  <BarsTop5 />
  <Intro />
  <div class="h-24"></div>
  <FrontSection collection="test" howMany="4" component="Numbered" showDate="true" sectionTitle="true" />
  <div class="h-24"></div>
  <FrontSection collection="test" howMany="4" component="ArticlesNude" showDate="true" sectionTitle="true" />
  <div class="h-24"></div>
  <FrontSection collection="test" howMany="4" component="ArticlesImaged" showDate="true" sectionTitle="true" />
  <BarsBottom5 />
</BaseLayout>