---

---
<div class="hidden bg-design-featured-blueCrayola"></div>
<div class="hidden bg-design-featured-fuchsia"></div>
<div class="hidden bg-design-featured-mindaro"></div>
<div class="hidden bg-design-featured-electricBlue"></div>
<div class="hidden bg-design-featured-seaGreen"></div>

<div class="hidden text-design-featured-blueCrayola"></div>
<div class="hidden text-design-featured-fuchsia"></div>
<div class="hidden text-design-featured-mindaro"></div>
<div class="hidden text-design-featured-electricBlue"></div>
<div class="hidden text-design-featured-seaGreen"></div>