---
import { Image } from 'astro:assets';

import FeaturedSingle from "@/components/content/featured/single.astro"

import BspAToBeSet from "@/assets/for_content/features/bspA_toBeSet.astro"
import BspA from "@/assets/for_content/features/bspA3.svg"

const colorBack = "#613F75"; 
const colorFore = "#DE0D92";


const { doLines, extendBelow } = Astro.props;

---

<FeaturedSingle doLines={doLines} extendBelow={extendBelow} colorBack={colorBack} colorFore={colorFore} imagedText="" rawerText="Verkehr ergibt sich aus der gebauten Umwelt. Solange wir Orte schaffen, in denen das Auto alternativlos erscheint, wird jede Forderung nach Verzicht als Zwang erlebt. Dabei wissen wir längst, wie lebendige, autofreie Orte aussehen. Wir wissen auch um die grosse Nachfrage danach. Die Möglichkeit sie zu bauen haben wir jedoch wegreglementiert.">
	<h2 class="not-italic grid mx-1 align-middle w-full  text-7xl leading-11 tracking-tighter font-black"  style={"color: " + colorFore + ";"}>
		Verkehr <br>im Kontext
	</h2>
</FeaturedSingle>